@inherits LayoutComponentBase

<PageTitle>BlacklogBuster</PageTitle>

<MudLayout>
    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudAppBar>
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </MudAppBar>

        <article class="content px-4">
            @Body
        </article>
    </MudMainContent>
</MudLayout>
